apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "python-k8s-demo.name" . }}
  labels:
    {{- include "python-k8s-demo.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "python-k8s-demo.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "python-k8s-demo.name" . }}
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          env:
            {{- range $k, $v := .Values.env }}
            - name: {{ $k }}
              value: {{ $v | quote }}
            {{- end }}
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "python-k8s-demo.name" . }}
                  key: API_KEY
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 10001
            allowPrivilegeEscalation: false
