apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: python-k8s-demo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/YOUR_ORG/python-k8s-demo.git
    targetRevision: main
    path: helm/python-k8s-demo
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
